header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

.header_logo img {
    padding: 27px 0 19px 40px;
}

.preview {
    position: relative;
    background: url('/img/bg.png') no-repeat center fixed;
    background-size: cover;
    backdrop-filter: brightness(50%);
    background-color: rgba(0, 0, 0);
}

.main_text {
    padding-top: 180px;
    max-width: 627px;
}

.btn_main {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    margin-bottom: 175px;
    margin-top: 36px;
    width: 162px;
    height: 40px;
    background: #2680EB;
    border: none;
}

.nature_img {
    img {
        max-width: 100%;
    }
}

@media (min-width: 769px) {
    .hide_small {
        display: none;
    }
}

@media (max-width: 768px) {
    .header_logo img {
        padding: 25px 0 19px 40px;     
    }

    .main_text {
        padding-top: 0;
        max-width: 608px;
    }

    .btn_main {
        width: 130px;
        height: 40px;
        margin-bottom: 60px;
    }

    .preview {
        background: unset;
        background-color: #fff;
        .main_p {
            color: #000;
        }
    }

    
}