.last_text {
    padding-bottom: 40px;
}

.cat {
    text-align: center;
}

.video {
    position: relative;
}

.kitty {
    max-width: 100%;
    z-index: 1;
}    

.play {
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

@media (max-width: 375px) {
    .play {
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-top: -30px;
    }
}